In [1]:
import pandas as pd

In [11]:
human_genes = pd.read_csv("human_protein_coding_genes_havana.txt")
mouse_genes = pd.read_csv("mouse_protein_coding_genes_havana.txt")

<ipython-input-11-61ae029566bf>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  human_genes = pd.read_csv("human_protein_coding_genes_havana.txt")

Select the furthest UTR boundary for every gene for human and mouse. There are 16573 human genes and 945 mouse genes in the Havana dataset.

In [12]:
human_genes_utrs = human_genes.groupby(["Gene stable ID"]).agg(
    utr5_start=("5' UTR start", min),
    utr5_end=("5' UTR end", max),
    utr3_start=("3' UTR start", min),
    utr3_end=("3' UTR end", max)
)

mouse_genes_utrs = mouse_genes.groupby(["Gene stable ID"]).agg(
    utr5_start=("5' UTR start", min),
    utr5_end=("5' UTR end", max),
    utr3_start=("3' UTR start", min),
    utr3_end=("3' UTR end", max)
)

print(len(human_genes_utrs))
print(len(mouse_genes_utrs))

16573
945

Almost 0.26% of the human genes in the Havana dataset don't have annotated UTRs boundaries.

In [4]:
human_genes_utrs.isnull().sum() / human_genes_utrs.shape[0]

utr5_start    0.164225
utr5_end      0.164225
utr3_start    0.159946
utr3_end      0.159946
dtype: float64

Almost 24% of the mouse genes in the Havana dataset don't have annotated 5' UTR boundaries and almost 19% of mouse genes in the Havana dataset don't have annotated 19% boundaries.

In [5]:
mouse_genes_utrs.isnull().sum() / mouse_genes_utrs.shape[0]

utr5_start    0.249735
utr5_end      0.249735
utr3_start    0.198942
utr3_end      0.198942
dtype: float64

Keep the genes with annotated UTRs boundaries.

In [6]:
human_genes_utrs = human_genes_utrs.dropna()

In [7]:
mouse_genes_utrs = mouse_genes_utrs.dropna()

Calculate the length of the 3' UTR and 5' UTR for every gene.

In [8]:
human_genes_utrs = human_genes_utrs.assign(
    utr5_len = human_genes_utrs['utr5_end'] - human_genes_utrs['utr5_start'],
    utr3_len = human_genes_utrs['utr3_end'] - human_genes_utrs['utr3_start']
)

mouse_genes_utrs = mouse_genes_utrs.assign(
    utr5_len = mouse_genes_utrs['utr5_end'] - mouse_genes_utrs['utr5_start'],
    utr3_len = mouse_genes_utrs['utr3_end'] - mouse_genes_utrs['utr3_start']
)

75% of the human protein-coding genes in the Havana dataset have 5' UTR length at most 6715 nucleotides. 75% of the human protein-coding genes in the Havana dataset have 3' UTR length at most 2120 nucleotides.

In [9]:
human_genes_utrs[['utr5_len', 'utr3_len']].describe()\
.round(2)

         utr5_len    utr3_len
count    12685.00    12685.00
mean     12783.65     5199.40
std      54112.14    29879.33
min          0.00        0.00
25%        124.00      337.00
50%        877.00      887.00
75%       6504.00     2113.00
max    1948259.00  1501408.00

75% of the mouse protein-coding genes in the Havana dataset have 5' UTR length at most 1860 nucleotides. 75% of the human protein-coding genes in the Havana dataset have 3' UTR length at most 2396 nucleotides.

In [10]:
mouse_genes_utrs[['utr5_len', 'utr3_len']].describe()\
.round(2)

         utr5_len   utr3_len
count      659.00     659.00
mean      6635.72    6124.83
std      61019.70   23821.47
min          1.00       1.00
25%         65.00     195.00
50%        259.00     728.00
75%       1860.50    2396.00
max    1359782.00  374901.00

For both human and mouse genes in Havana, the maximum length of UTRs reaches million of nucleotides!